"TITLE"

"INTRODUCTION"

- BACKROUND INFO

- QUESTION

- IDENTIFY AND DESCRIBE DATASET

PRELIMINARY EXPLORATORY DATA ANALYSIS:

- Reading the data into R

In [32]:
library(tidyverse)

tennis_full_data <- read_csv("data/tennis_data.csv")

New names:
• `` -> `...1`
Rows: 6866 Columns: 50
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (16): tourney_id, tourney_name, surface, tourney_level, winner_seed, win...
dbl (34): ...1, draw_size, tourney_date, match_num, winner_id, winner_ht, wi...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Only the columns which will allow us to explore our question should be selected, Filtered for the top 100 ranking players so more amateur players are unacccounted for.

In [33]:
tennis_data <- tennis_full_data |>
             filter(winner_rank <= 100) |>
             select("surface", "minutes", "w_ace", "w_df", "w_svpt")

In [34]:
tennis_data_mins <- tennis_data |>
                group_by(surface) |>
                summarize(
                    mean_minutes = mean(minutes, na.rm = TRUE),
                    mean_w_svpt = mean(w_svpt, na.rm = TRUE),
                    mean_w_df = mean(w_df, na.rm = TRUE),
                    mean_w_ace = mean(w_ace, na.rm = TRUE)
                    ) |>
                filter(surface == "Grass" | surface == "Hard" | surface == "Clay")

In [35]:
tennis_data_mins

  surface mean_minutes mean_w_svpt mean_w_df mean_w_ace
1 Clay    113.0617     78.58183    2.511939   5.304601
2 Grass   114.8513     87.03796    2.967883  10.162044
3 Hard    107.7224     77.89763    2.826036   8.143491